
@media print {
    @page :left {
        margin: 0mm;
    }
    
    @page :right {
        margin: 0mm;
    }

    html {
        width: 21cm;
        height: 29cm;
        margin: 0;
    }

    body {
        font-size: 10pt;
    }

    section {
        margin-top: 5px;
    }

    li {
        margin-top: 5px;
    }

    .footer#side {
        display: block;
    }

    .footer#main {
        display: none;
    }

    .refcontent a {
        display: none;
    }

    #picture {
        width: 150px;
        height: 150px;
    }
}

@media screen {
    html {
        width: 1000px;
        height: 100%;
        margin: auto;
    }

    body {
        font-size: 14px;
    }

    .footer#side {
        display: none;
    }

    .footer#main {
        display: block;
    }

    li {
        margin-top: 10px;
    }

    #picture {
        width: 150px;
        height: 150px;
    }
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
     
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', Calibri, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    background: rgba(255,255,255,1);
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: justify;
}

a {
    text-decoration: none;
    color: rgb(105, 155, 134);
}

strong {
    font-weight: 500;
    color: rgb(105, 155, 134);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-left: -12px;
    background: url('img/dot_24x24.png') no-repeat 0 50%;
        background-size: auto auto;
    background-size: 12px 12px;
    padding-left: 14px;
    text-align: left;
}

.centered {
    text-align: center;
}

.flex-container {
    justify-content: space-around;
    display: flex;
    display: -webkit-flex; 
    flex-direction: row;
    -webkit-flex-direction: row;
    padding: 10px;
}

.flex-column {
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;
}

.flex-panel {
    display: block;
    break-inside: avoid;
    page-break-before: always;
}

.flex-panel__content {
    padding: 10px;
    border-radius: 10px;
}

.left-panel {
    width: 33%;
    margin-top: 20px 0 0 0;
    padding: 0;
}

.main-panel {
    width: 66%;
    margin: 0;
    padding: 0;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 2px 10px;
    break-inside: avoid;
    page-break-after: always;
}

section > .title {
    font-size: 2em;
    font-weight: 400;
    color:  rgb(105, 155, 134);
    margin-left: -5px;
}

.section-header {
    padding: 2px 5px;
    background-color: #699b864d;
}

h3 {
    font-size: 1.2em;
    font-weight: 200;
    color:  rgb(105, 155, 134);
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer {
    border-top: 2px solid rgb(105, 155, 134);
    padding-top: 5px;
    font-size: 0.8em;
}

.footer#side {
    text-align: left;
    border-top: 0px !important;
}

.footer#main {
    text-align: right;
    padding: 10px 0;
}

.footer#main > div {
    text-align: right;
    display: inline;
    margin-left: 5px;
}

.footer div.icon {
    width: 30px;
    height: 30px;
    background: rgb(105, 155, 134);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.footer div.icon > img {
    width: 24px;
    height: 24px;
}

#picture {
    margin: 30px auto 30px auto;
    border-radius: 50%;
    background: url('img/photo.png') no-repeat no-repeat 50% 50%;
    background-size: 150% auto;
    border: 3px solid rgb(105, 155, 134);
}

div#picture > img {
    width: 100%;
    height: auto;
}

div#info {
    padding: 0px;
}

div.info_container {
    margin-top: 5px;
    width: 100%;
}

div.info_container a {
    color: black;
}

div.info_container > div {
    display: inline-block;
    vertical-align: middle;
}

div.icon {
    width: 20px;
    height: 20px;
    background: cadetblue;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
}

div.icon > img {
    margin: auto;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.biblio-container {
    margin-left: 10px;
    margin-bottom: 10px;
}

.refcontent {
    display: table;
    width: 100%;
}

.refcontent > div {
    display: table-cell;
}

.refcontent > div:first-child {
    width: 90%;
}

.refcontent > div:last-child {
    width: 10%;
    text-align: right;
}

section > .content {
    margin-top: 10px;
    padding: 5px;
    border-left: 2px solid rgb(105, 155, 134);
}

section .item {
    margin-bottom: 0px;
}

.item .content {
    padding: 10px;
}

.item .date {
    text-align: right;
    color:  rgb(105, 155, 134);
    font-size: 1.5em;
    font-weight: 400;
}

.item .title {
    font-size: 1.2em;
    font-weight: 400;
}

.item .location {
    font-size: 1em;
    font-style: italic;
}

.item .description {
    margin-top: 5px;
}

.item-inline {
    margin-bottom: 10px;
    width: 100%;
}

.item-inline .content > div {
    vertical-align: top;
    display: inline-block;
}

.item-inline .title {
    font-size: 1.2em;
    font-weight: 400;
    color:  rgb(105, 155, 134);
}

.description li {
    margin-left: 10px;
}

.organism {
    width: 100%;
    margin-bottom: 5px;
    font-style: italic;
}

#name {
    line-height: 1em;
    color:  rgb(105, 155, 134);
    font-size: 30pt;
    font-weight: 500;
    text-align: right;
}

#subtitle {
    line-height: 1em;
    font-size: 15pt;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    color:  rgb(135, 179, 161);
}

.keyword {
    font-weight: 700;
}

#punchline {
    font-style: italic;
    padding: 10px;
}

.keyword-container {
    margin-top: 5px;
    text-align: left;
}

.keyword-container > div {
    display: inline-block;
    margin: 2px;
    background-color: rgb(105, 155, 134);
    color: white;
    padding: 5px;
}